.entity-id-card {
    width: 180px;
    height: 30px;
    margin-bottom: 25px;
    align-content: center;
    text-align: center;
    color: #615d67;
    font-weight: bold;
    border-radius: 4px !important;
    background-color:white;
    border-color: #8A1538;
    font-size: 13px;
}