@import '../../Styles/variables.scss';

.kpi-grid {

    height: 90px;

  .form-item-header {
    color: #3a3541;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .form-input-box {
    font-size: 13px;
    height: 40px;
  }

  .form-unit-select {
    font-size: 13px;
    height: 40px;
  }

  .delete-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 30px;
    height: 30px;
    margin-top: 36px;
    border-width: 1px;
    border-radius: 4px;
    border-color: '#d9d9d9';
  }

  .inherited-kpi {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 44px;
    color: #615d67;
  }

  .self-owned-kpi {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 44px;
    color: #615d67;
  }

}

.info-kpi {
  display: flex;
  align-items: start;
  gap: 10px;
  background-color: rgba($primary-color, 0.05);
  padding: 15px;
  border-radius: 8px;
  color: #3a3541A5;
  font-size: 14px;
  float: right;

  .info-icon {
    color: $primary-color;
    font-size: 18px;
    margin: 5px 4px;
  }
}