$accent-color: #8A1538;
$accent-color-80: #8A1538E0;
$accent-color-50: #8A153880;
$accent-color-40: #8A153866;
$accent-color-20: #8A153833;
$accent-shade-color: #916874;

$text-color: #221c1e;
$text-color-80: #221c1eE0;
$text-color-50: #221c1e80;
$text-color-30: #221c1e66;
$text-color-20: #221c1e33;

$error-color: #FF4D4F;